@font-face {
  font-family: "Giants-Inline";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Giants-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "establishRetrosansOTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
a{
  text-decoration: none;
}
* {
  font-family: "Giants-Bold";
  background-color: black;
  color: #0aff60ff;
}

.matchDetail {
  .header,
  .detailRow {
    display: flex;
    justify-content: space-between;

    p {
      width: 33%;
      text-align: center;
      margin: 0;
      padding: 5px 10px;
      border: 1px solid #e0e0e0;
      box-sizing: border-box;

      &:nth-child(2) {
        border-left: none;
        border-right: none;
      }
    }
  }
}
.home{
  p{text-align: right;
}
  ul{
    li{
      text-align: right;
    }
  }
}
ul,
li {
  list-style: none;
  padding: 0;
}
.playerStat {
  display: flex;
  justify-content: space-between;
  ul {
    li {
      font-size: 12px;
      span{
        margin-right: 5px;
      }
    }
  }
  img {
    scale: 0.8;
    vertical-align: top;
  }
}

.gamepad {
  &::after {
    content: "sports_esports"; /* 'keyboard'는 예시입니다. 사용하려는 아이콘의 이름을 여기에 적으세요. */
    font-family: "Material Icons";
    color: white;
    font-size: 20px; /* 원하는 크기에 따라 조절 */
    margin-left: 5px;
  }
}
.keyboard {
  &::after {
    content: "keyboard"; /* 'keyboard'는 예시입니다. 사용하려는 아이콘의 이름을 여기에 적으세요. */
    font-family: "Material Icons";
    color: white;
    font-size: 20px; /* 원하는 크기에 따라 조절 */
    margin-left: 5px;
  }
}

.keyboard,
.gamepad {
  span {
    margin-right: 5px;
  }
}
.matchRecord {
  position: relative;
  border: 1px solid whitesmoke;
  margin-bottom: 10px;

  .win {
    color: white;
    background-color: red;
  }
  .draw {
    color: white;
    background-color: grey;
  }
  .loss {
    color: white;
    background-color: blue;
  }

  .matchDay {
    svg {
      float: right;
      cursor: pointer;
    }
  }
  .matchDetail {
    flex-direction: column;
    display: flex;
    gap: 10px;
    padding: 10px;
  }
}
